
*,
*::before,
*::after {
    box-sizing: border-box;
}


:root{
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Arial', monospace;

    --fw-reg: 300;
    --fw-bold: 700;

    --clr-light: #fcfdff;
    --clr-dark: #454b54;
    --clr-accent: #5ca97c;


}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.25rem;
        --fs-h3: 2rem;
        --fs-body: 3.5rem;
        --fs-p: 1.25rem;
    }
}


h1 {
    font-size: var(--fs-h1);
}

h2{
    font-size: var(--fs-h2);
}

h3{
    font-size: var(--fs-h3);
}

p{
    font-size: var(--fs-p);
}

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;

}

.nav{
    position: fixed;
    background: var(--clr-accent);
    color: var(--clr-accent);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(97%);
    transition: 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list{
    list-style: none;
    margin: 50px;
    text-align: center;
    text-decoration: none;
}

.nav__item{
    margin: 60px;
    padding: 30px;

}

.nav__link:hover{
    color: var(--clr-dark);
}

body{
    background-color: var(--clr-light);
    color: var(--clr-dark);
    font-family: var(--ff-primary);
}


.btn{
    max-width: 200px;
}


img{
    display: block;
    max-width: 100%;
}

.intro__img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

section{
    padding: 20px;
}

.section__sub--intro {
    background-color: var(--clr-accent);
    font-family: var(--ff-secondary);
}

.section__title--intro{
    font-weight: var(--fw-reg);
}


.section__sub--intro{
    font-size: var(--fs-h2);
    padding: 20px;
    text-align: center;

}

.section__title--intro strong{
    display: block;
}

.section__title--about{
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    padding: 20px;
    margin-bottom: 20px;
}

.who {
    text-align: center;
    background: var(--clr-accent);
    padding: 20px;
}

.section__title{
    text-align: center;
}

.ven{
    background: var(--clr-accent);
    padding: 20px;
    text-align: center;

}
.points{
    font-size: var(--fs-p);
    font-weight: var(--fw-bold);
    margin: 20px;
    padding: 20px;
    text-align: center;
    list-style: none;
}

.descrip{
    background-color: var(--clr-dark);
    background-image: url(assets/images/back.jpg);
    background-size: cover;
    margin-right: 30px;
    margin-left:10px;
    text-align: center;
    color: var(--clr-light);
    padding: 60px;
    margin-bottom: 80px;

}

.descrip h3{
    color: var(--clr-accent);
}

.descrip h2{
    margin-top: 40px;
    margin-bottom: 50px;
}

footer{
    background: var(--clr-dark);
    color: var(--clr-accent);
    text-align: center;
    padding: 20px;
    justify-content: center;

}

.social{
    list-style: none;
    display: flex;
    justify-content: center;

}

.social__item{
    margin: 10px;
}
footer a{
    color: inherit;
    text-decoration: none;
}

.footer__link:hover, .social__link:hover{
    color: var(--clr-light);
}

